<div class="container-fluid  text-light" style="margin-top: 20px;">
  <div class="row text-center">
    <div class="col-md-4" style="padding-top:10px;font-size:14px;font-weight: 300;">
      © Copyright 2024 Moody. All rights reserved.
    </div>
    <div class="col-md-4 d-flex justify-content-center  information-list">
      <ul  type="none">
        <li>
          <a class="footer-link" href="">ABOUT US</a>
        </li>
        <li>
          <a class="footer-link" href="">FQA</a>
        </li>
        <li>
          <a class="footer-link" href="">CONTACT</a>  
        </li>
      </ul>
    </div>

    <div class="col-md-4 d-flex justify-content-center social-list">
      <ul type="none">
        <li>
          <a href="">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>