
<div class="parent-container">
  <div class="child-container"></div>
  <div class="text-container">
    <div class="row">
      <div class="col-md-5 col-12 text-center">
          <h1>GET YOUR OWN SONGS</h1>
          <h1>BASED ON YOUR CHOICE </h1>
          <p class="text-center">Discover a constantly expanding mix of music from emerging and major artists around the world .</p>
          <input type="text" class="form-control" placeholder="HOW ARE YOU FEELING TODAY ?" style="width: 70%;margin: auto;">
          <button class="btn explore mt-4 m-2">EXPLORE</button>
          <button class="btn search  mt-4 m-2" style="background-color: #181818 ;border: 2px solid black;">SEARCH</button>
      </div>
  </div>
  </div>
</div>