<app-header-banner></app-header-banner>
<div class="container-fluid" style="padding: 20px 20px;">
    <div class="container-fluid text-center pt-4 text-light" style="background-color: #121212;padding-bottom: 50px;">
        <h1 class="h1 title pb-2">TEMPO</h1>
        <div class="row justify-content-center">

            <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-5 " >

                <div class="row justify-content-center mood-list">
                    
                    <div class="col-md-4 col-5 mood-option" style="background-color: #006450;">
                        <h5 style="padding-top: 10px;" >FAST</h5>
                        <img src="../../assets/img/image1.JPG" alt="FAST">
                    </div>
                    <div class="col-md-4 col-5  mood-option" style="background-color: #1E3264 ;">
                        <h5 style="padding-top: 10px;">MODERATE</h5>
                        <img src="../../assets/img/image2.jpg" alt="MODERATE">
                    </div>
                    <div class="col-md-4 col-5  mood-option" style="background-color: #8400E7 ;" >
                        <h5 style="padding-top: 10px;">SLOW</h5>
                        <img src="../../assets/img/image3.JPG" alt="SLOW">
                    </div>
                    <div class="col-md-4 col-5 mood-option" style="background-color: #D84000;">
                        <h5 style="padding-top: 10px;" >VARIED</h5>
                        <img src="../../assets/img/image4.JPG" alt="VARIED">
                    </div>
                  
                </div>
            </div>

        </div>
        <div class="row justify-content-center buttons ">
            <div class="col-md-2 col-xxl-1 pt-1 col-8 skip">
                <span>Skip</span>
            </div>
            <div  routerLink="/generated-songs" class="col-md-2 col-xxl-1 col-8 pt-1 generate">
                <span>Generate</span>
            </div>
        </div>
    </div>
</div>
<app-trending-list></app-trending-list>
