
<div class="container-fluid text-center pt-4 text-light" style="background-color: #121212;">
    <h1 class="h1 title pb-2">CATEGORY</h1>
    <div class="row justify-content-center">
        <div class="col-md-6" >
            <div  id="jbeli" class="row justify-content-center" style="padding: 0 40px;">
                <div class="col-md-3 col-5 heni" style="background-color: #006450;">
                    <h5 style="padding-top: 10px;" >SAD</h5>
                    <img src="../../assets/img/image1.JPG" alt="">
                </div>
                <div class="col-md-3 col-5  heni" style="background-color: #1E3264 ;">
                    <h5 style="padding-top: 10px;">HAPPY</h5>
                    <img src="../../assets/img/image2.jpg" alt="">
                </div>
                <div class="col-md-3 col-5  heni" style="background-color: #8400E7 ;" >
                    <h5 style="padding-top: 10px;">ANGRY</h5>
                    <img src="../../assets/img/image3.JPG" alt="">
                </div>
                <div class="col-md-3 col-5 heni" style="background-color: #D84000;">
                    <h5 style="padding-top: 10px;" >MOTIVATED</h5>
                    <img src="../../assets/img/image4.JPG" alt="">
                </div>
                <div class="col-md-3 col-5 heni" style="background-color: #E1118C;">
                    <h5 style="padding-top: 10px;">NOSTALGIC</h5>
                    <img src="../../assets/img/image5.JPG" alt="">
                </div>
                <div class="col-md-3 col-5 heni" style="background-color: #0D73EC;" >
                    <h5 style="padding-top: 10px;">CALM</h5>
                    <img src="../../assets/img/image6.JPG" alt="">
                </div>
                <div class="col-md-3 col-5 heni" style="background-color:#2D46B9;">
                    <h5 style="padding-top: 10px;" >ROMANTIC</h5>
                    <img src="../../assets/img/image6.JPG" alt="">
                </div>
                <div class="col-md-3 col-5 heni" style="background-color: #503750;">
                    <h5 style="padding-top: 10px;">RELAXED</h5>
                    <img src="../../assets/img/image8.JPG" alt="">
                </div>
                <div class="col-md-3 col-5 heni" style="background-color: #E8115B;" >
                    <h5 style="padding-top: 10px;">CONFIDENT</h5>
                    <img src="../../assets/img/image9.JPG" alt="">
                </div>
            </div>
        </div>
    </div>
</div>