<form (ngSubmit)="Upload()" [formGroup]="UploadForm">
    <!--(ngSubmit)="signUp()" [formGroup]="signup"-->
    <div class="container-fluid">
        <div class="row">
            <!-- title-->
            <div class="col-12 mt-5">
                <h1>Upload Your Own Music</h1>
            </div>

            <div class="col-12 mt-3 mb-3">
                <!--song name-->
                <div class="input-group">
                    <span>Song name</span><br>
                    <input type="text" formControlName="songname" name="songname" placeholder="Song name" required
                        style="margin-right: 2px;">
                </div>

                <!-- Artist name -->
                <div class="input-group mt-3" style="margin-left: 2px;">
                    <span>Artist name</span><br>
                    <input type="text" name="ArtistName" formControlName="ArtistName" placeholder="Artist Name"
                        readonly>
                </div>
                <div class="input-group">
                    <!-- MOOD LIST-->
                    <span>Mood</span>
                    <select formControlName="mood">
                        <option value="SAD">SAD</option>
                        <option value="HAPPY">HAPPY</option>
                        <option value="ANGRY">ANGRY</option>
                        <option value="MOTIVATED">MOTIVATED</option>
                        <option value="CALM">CALM</option>
                        <option value="ROMANTIC">ROMANTIC</option>
                        <option value="RELAXED">RELAXED</option>
                        <option value="CONFIDENT">CONFIDENT</option>
                        <option value="NOSTALGIC">NOSTALGIC</option>
                    </select>   
                </div>
                <!-- CATEGORY LIST-->
                <div class="input-group">
                    <span>Category</span>
                    <select formControlName="category">
                        <option value="POP">POP</option>
                        <option value="K-POP">K-POP</option>
                        <option value="DRILL">DRILL</option>
                        <option value="CLASSIC">CLASSIC</option>
                        <option value="JAZZ">JAZZ</option>
                        <option value="ROCK">ROCK</option>
                        <option value="HIP-HOP">HIP-HOP</option>
                        <option value="METAL">METAL</option>
                        <option value="COUNTRY">COUNTRY</option>
                    </select>
                </div>
                <!-- ACTIVITY LIST-->
                <div class="input-group">
                    <span>Activity</span>
                    <select formControlName="activity">
                        <option value="STUDYING">STUDYING</option>
                        <option value="DANCING">DANCING</option>
                        <option value="TRAINING">TRAINING</option>
                        <option value="DRIVING">DRIVING</option>
                        <option value="WALKING">WALKING</option>
                        <option value="CHILLING">CHILLING</option>
                        <option value="PLAYING">PLAYING</option>
                        <option value="READING">READING</option>
                        <option value="PAINTING">PAINTING</option>
                    </select>
                </div>
                <!-- TEMPO LIST-->
                <div class="input-group">
                    <span>Tempo</span>
                    <select formControlName="tempo">
                        <option value="FAST">FAST</option>
                        <option value="MODERATE">MODERATE</option>
                        <option value="SLOW">SLOW</option>
                        <option value="VARIED">VARIED</option>
                    </select>
                </div>

                <!-- AUDIO FILE-->
                <label for="audioFile">
                    <input type="file" name="audioFile" id="audioFile" accept="audio/*"
                        (change)="onFileSelected($event, 'audio')" class="apply">
                    <i class="fa-solid fa-music"></i> Upload File
                </label>

                <!-- IMAGE FILE-->
                <label for="coverImageFile">
                    <input type="file" name="imageFile" id="coverImageFile" accept="image/*"
                        (change)="onFileSelected($event, 'image')" class="apply">
                    <i class="fa-regular fa-image"></i> Upload Cover
                </label>
                

            </div>

            <!-- Submit button-->
            <div class="col-12 mt-2 mt-4">
                <div class="validate">
                    <button type="submit" class="upload">Upload</button><br><br>
                </div>
            </div>

        </div>
    </div>
</form>