<form action="">
    <div class="container-fluid">
        <div class="row">

            <!-- title-->
            <div class="col-12 mt-5">
                <h1>Sign up to Moody</h1>
            </div>

            <div class="col-12 mt-3 mb-3">

                <!--Username-->
                <div class="input-group">
                    <span>Username</span><br>
                    <input type="text" placeholder="Your Username" required>
                </div>

                <!-- Name-->
                <div class="input-group" style="margin-right: 2px;">
                    <span>Name</span><br>
                    <input type="text" placeholder="Your Name" required>
                </div>

                <!-- Last name-->
                <div class="input-group" style="margin-left: 2px;">
                    <span>Last name</span><br>
                    <input type="text" placeholder="Your Last Name" required>
                </div>

                <!-- Email-->
                <div class="input-group">
                    <span>Email</span><br>
                    <input type="email" placeholder="Your Email" required>
                </div>

                <!-- Password-->
                <div class="input-group mt-2">
                    <span>Password</span><br>
                    <input type="password" placeholder="Password" required>
                </div>

                <!-- Radio buttons-->
                <div class="mydict mt-3">
                    <div>
                        <label>
                            <input type="radio" name="radio" checked="">
                            <span>Women</span>
                        </label>
                        <label>
                            <input type="radio" name="radio">
                            <span>Men</span>
                        </label>
                        <label>
                            <input type="radio" name="radio">
                            <span>Other</span>
                        </label>
                    </div>
                </div>

                <!-- switch button-->
                <div class="form-check form-switch remember mt-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Accept privacy</label>
                </div>
            </div>
            
            <!-- Submit button-->
            <div class="col-12 mt-2 mt-4">
                <div class="validate">
                    <button type="submit" class="login">Sign Up</button><br><br>
                </div>
            </div>

            <hr>

            <!-- If already have an account-->
            <div class="col-12 mt-4 mb-4">
                <span class="noAccount">Already have an account?</span>&nbsp;      <span routerLink="/login" class="signup">Log in here.</span>
            </div>

        </div>
    </div>
</form>