
<div class="container-fluid">
    <div class="row m-md-4"  >

        <div class="col-md-6">
            <div class="d-flex flex-column text-light">
                <div class="p-2 bd-highlight m-md-2">
                    <h1 class="title">WHERE YOUR MUSIC <br> IS EVERYTHING </h1>
                </div>
                <div class="p-2 bd-highlight m-md-2">
                    <p class="description">Develop your fanbase, build your <br> business, and create the world <br>around your music.</p>
                </div>
                <div class="upload-button m-md-2">
                    <button routerLink="/upload-form" class="btn">Upload Your First Track</button>
                </div>
            </div>
        </div>

       <div class="col-md-6 musicPlayer" style="display: flex;justify-content: center;align-items:center">
        <div class="loader">
            <div class="albumcover"></div>
            <div class="loading">
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
            </div>
        </div>
       </div>

    </div>
</div>
  