<div class="container-fluid  text-light" style="margin-top: 20px;margin-bottom: 80px;">
  <div class="row text-center">
    <div class="col-md-4" style="padding-top:10px;font-size:14px;font-weight: 300;">
      Â© Copyright 2024 Moody. All rights reserved.
    </div>
    <div class="col-md-4 d-flex justify-content-center  information-list">
      <ul  type="none">
        <li>
          <a class="footer-link" href="">ABOUT US</a>
        </li>
        <li>
          <a class="footer-link" routerLink="/avis" >AVIS</a>
        </li>
        <li>
          <a class="footer-link" routerLink="/contact" >CONTACT</a>  
        </li>
      </ul>
    </div>

    <div class="col-md-4 d-flex justify-content-center social-list">
      <ul type="none">
        <li>
          <a href="https://www.facebook.com/heni.jbeli.311 " target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="row text-center">
    <div class="col-12">
      This web site made with <i style="color: pink;" class="fa-solid fa-heart"></i>By Heni , Houssem , Aziz
      <img src="../../assets/img/sol-key.png" height="60px" width="60px" alt=""> 
    </div>
  </div>
</div>