.information-list{
    padding-top: 10px;
}
li{
    float: left;
}

/*informmation list */
.footer-link{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size:14px;
    padding: 10px;
}


/* Social links */
i{
    font-size: larger;
    background-color: #292929;
    padding: 12px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    margin: 0px 5px 10px 0px;
}
/*effects*/
.fa-facebook:hover{
    color: #0866ff;
    background-color: white;

}
.fa-instagram:hover{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
}
.fa-twitter:hover{
    background-color: white;
    color: rgb(67, 133, 219);
}
